<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDisplayName</key>
    <string>AniTrack</string>
    <key>CFBundleIdentifier</key>
    <string>dev.maxreinartz.iosAniTrack</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>anitrack</string>
            </array>
            <key>CFBundleURLName</key>
            <string>dev.maxreinartz.anitrack</string>
        </dict>
    </array>
</dict>
</plist>